/****************************/
     /*Style Variables*/
/***************************/
$fontFamilyHead: 'Rock Salt', cursive;
$fontFamilyContent: 'Roboto', sans-serif;
$fontWeight: 300;
$fontSize: 20px;
$fontColor: #555;
$backGroundColor: #fff;
$textRendering: optimizeLegibility;
/****************************/
     /*End Style Variables*/
/***************************/